body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

header {
  background: #0b1a3a;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background: black;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

nav a:hover {
  background: gold;
  color: black;
}

/* HERO */
.hero {
  padding: 80px;
  text-align: center;
  background: url("stadion.jpg") center/cover;
  color: black;
}

/* SZÖVEGES OLDALAK */
.content {
  padding: 30px;
  text-align: center;
  background: white;
}

/* GALÉRIA */
.gallery {
  padding: 30px;
}

/* 6 KÉP RÁCSBAN (min 2 egymás mellett) */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.grid2 img {
   width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.4s;
}

/* KINAGYÍTÁS HOVERRE */
.grid2 img:hover {
  transform: scale(1.15);
}

.grid img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.4s;
}

/* KINAGYÍTÁS HOVERRE */
.grid img:hover {
  transform: scale(1.15);
}

.kep {
  width: 60%;
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  transition: 0.4s;
}

/* kinagyítás hoverre */
.kep:hover {
  transform: scale(1.1);
}

.src {
    width: 85%;
  display: block;
  margin: 30px auto;
  border-radius: 20px;
  transition: 0.4s;
}

.ticket-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.ticket-box{
    width:300px;
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    transition:0.3s;
}

.ticket-box:hover{
    transform:scale(1.05);
}

.ticket-box h2{
    color:#00529F;
}

.ticket-box button{
    margin-top:15px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#00529F;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.ticket-box button:hover{
    background:#003d75;
}